<div class="page-header">
  <h1>Editar usuario</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :surname %>
      <div class="input">
        <%= f.text_field :surname %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
        <span class="help-inline">(leave blank if you don't want to change it)</span>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :current_password %>
      <div class="input">
        <%= f.password_field :current_password %>
        <span class="help-inline">(we need your current password to confirm your changes)</span>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Guardar", :class => 'btn primary' %>
      <%= link_to "Volver", :back %>
    </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No está a gusto? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "¿Está seguro?", :method => :delete %>.</p>

